<div class="container">

  <h2>Members</h2>

  <% @members.each do |member| %>
  <h3><%=member.name%></h3>
  <p> <a id="details" href="/members/<%= member.id %>">Member details</a> </p>
  <% end %>

  <h4> <a href="/">Back</a> </h4>

</div>
