<form action="/members/sigh-up" method="post">
  
  <label for="name">Full name:</label>
  <input type="text" name="name" id="name">

  <label for="post-code">Post code:</label>
  <input type="text" name="post_code" id="post-code">

  <label for="date-of-birth">Date of birth:</label>
  <input type="text" name="date_of_birth" id="date-of-birth">

  <label for="email">Email:</label>
  <input type="text" name="email" id="email">

  <label for="mobile-number">Mobile number:</label>
  <input type="text" name="mobile_number" id="mobile-number">

  <input type="submit" name="" value="Send">
</form>
