@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  width: 80%;
  background :#e8eef3;
}

header {
  background-color: black;
  height: 150px;
}

#logo {
  display: block;
  width: 40%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

#background {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 8px 6px -6px gray;
  height: 700px;
}

.topnav {
  background-color: #333;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 8px 6px -6px gray;
  padding: 20px;
  font-weight: 300;
}

.topnav a {
  display: inline;
  color: rgb(96, 217, 251);
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(96, 217, 251);
  color: black;
}

.container {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background: #333;
  color: whitesmoke;
  width: 40%;
  box-shadow: 0 8px 6px -6px gray;
  text-align: center;
  font-weight: 300;
}

.container h2 {
  color: rgb(96, 217, 251);
  margin-top: 30px;
  font-weight: 400;
}

.container h3 {
  color: whitesmoke;
  margin-top: 30px;
  font-weight: 400;
}

.container p {
  color: whitesmoke;
  font-weight: 300;
}

.back {
  margin-top: 30px;
  margin-bottom: 10px;
  color: whitesmoke;
  text-decoration: none;
  padding: 5px;
  font-weight: 300;
  font-size: 20px;
}

.back:hover {
  background-color: #333;
  color: rgb(96, 217, 251);
}

input[type=text] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 15px;
  font-size: 15px;
  text-align: center;
}

input[type=submit] {
  font-size: 15px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: 0 none;
  background: aquamarine;
  cursor: pointer;
  font-weight: 300;
}

input[type="submit"]:hover {
	background-color: #2ee59d;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	transform: translateY(-7px);
}

select {
  font-size: 15px;
  margin: 15px;
  border-radius: 5px;
  width: 40%;
  height: 30px;
}

select:focus {
  min-width: 40%;
  width: auto;
}

#delete-button {
  font-size: 15px;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 5px;
  border: 0 none;
  background: indianred;
  cursor: pointer;
}

#delete-button:hover {
  background-color: crimson;
	box-shadow: 0px 15px 20px tomato;
	transform: translateY(-7px);
}

#details {
  color: dimgray;
  text-decoration: none;
  font-weight: 400;
}

#details:hover {
  background-color: #333;
  color: darkgrey;
}

#create-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 0 none;
  background:rgb(96, 217, 251);
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  color: #333;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  #logo {
    width: 60%;
  }

  .container {
    width: 80%;
  }
}