<div class="container">

 <h4> <a href="/attendences/new" id="create-button">Book a new class</a> </h4>

  <h2>Booked classes</h2>

  <% @attendences.each do |attendence| %>

  <h3> <%= attendence.gymclass().name %></h3>
  <p><%= attendence.member().name %> </p>
  <p> <a id="details" href="/attendences/<%= attendence.id %>">Show booking</a> </p>

  <% end %>

  <h4> <a class="back" href="/">Back</a> </h4>

</div>
