<div class="index_attendences">

  <h2> <a href="/attendences/new">Book a new class</a> </h2>

  <h1>Booked classes</h1>

  <% @attendences.each do |attendence| %>

  <h2> <%= attendence.gymclass().name %></h2>
  <p><%= attendence.member().name %> </p>
  <p> <a href="/attendences/<%= attendence.id %>">Show booking</a> </p>

  <% end %>

  <p> <a href="/">Home</a> </p>

</div>
