<div class="container">
  
  <h2> <a href="/classes/new">Create new class</a> </h2>
  
  <h2>Classes</h2>
  
  <% @gymclasses.each do |gymclass| %>
  <h3><%=gymclass.name%></h3>
  <p> <a id="details" href="/classes/<%= gymclass.id %>">Class details</a> </p>
  <% end %>
  
  <h4> <a href="/">Back</a> </h4>
  
</div>
