<div class="container">
  
  <h4><a href="/classes/new" id="create-button">Create new class</a></h4>
  
  <h2>Classes</h2>
  
  <% @gymclasses.each do |gymclass| %>
  <h3><%=gymclass.name%></h3>
  <p> <a id="details" href="/classes/<%= gymclass.id %>">Class details</a> </p>
  <% end %>
  
  <h4> <a class="back" href="/">Back</a> </h4>
  
</div>
