<div class="container">

  <h1>New Class</h1>
  <form action="/classes" method="post">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name">

    <label for="duration">Duration:</label>
    <input type="text" name="duration" id="duration">

    <label for="calories">Calories:</label>
    <input type="text" name="calories" id="calories">

    <label for="intructor">Instructor:</label>
    <input type="text" name="instructor" id="instructor">

    <input type="submit" name="" value="Send">
  </form>

  <p> <a href="/classes">Back</a> </p>

</div>
