<div class="container">
  
  <h2>New Class</h2>
  
  <form action="/classes" method="post">
    
    <div class="name">
      <label for="name">Name</label>
      <div>
        <input type="text" name="name" placeholder="">
      </div>
    </div>
    
    <div class="duration">
      <label for="duration">Duration</label>
      <div>
        <input type="text" name="duration" placeholder="">
      </div>
    </div>
    
    <div class="calories">
      <label for="calories">Calories</label>
      <div>
        <input type="text" name="calories" placeholder="">
      </div>
    </div>
    
    <div class="instructor">
      <label for="instructor">Instructor</label>
      <div>
        <input type="text" name="instructor" placeholder="">
      </div>
    </div>
    
    <input type="submit" value="Send">
    
    <h4> <a class="back" href="/classes">Back</a> </h4>
    
  </form>
  
</div>
